
  <div>
    <h1>Pirate</h1>
    <p>Name: <%= @pirate.name %></p>
    <p>Weight: <%= @pirate.weight %></p>
    <p>Height: <%= @pirate.height %></p>
  </div>

  <div>
    <h1>Ships</h1>
      <% @ships.each do |ship| %>
      <p>Name: <%= ship.name %></p>
      <p>Type: <%= ship.type %></p>
      <p>Booty: <%= ship.booty %></p>
  </div>
